/* 
contains rules for:
    - index.html
    - any universal elements that all pages use

(CSS for the take-action.html is in take-action.css)
*/

/************* UNIVERSAL ELEMENTS ***************/
body,
html {
  height: 100%;
  font-size: 20px; 
  font-family: "Roboto", sans-serif; /* Change the font */
  line-height: 1.5em; 
  margin: 0em;
  color: #cc0000ff; 
  background-color: #fff; 
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*TODO: change font*/
  font-family: "Roboto Mono", sans-serif;
  color: #cc0000ff;
  text-align: center;
}

/*TODO: change font*/
h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif;
  color: #cc0000ff;
  text-align: center;
  line-height: 1.3em;
}

/*TODO: Change the color of a link when a person hovers over it*/
p a {
  /*color: #001e96;*/
}

a:hover {
  color: #001e96;
  text-decoration: none;
}

/*************** NAV BAR ****************/

/*style of nav bar*/
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc0000f2;
  border-style: none none solid none;
  border-color: #001e96;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

li.nav {
  float: right;
  font-size: 15px;
}

/*style of elements in nav bar*/
li.nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
}

li.nav a:hover {
  background-color: #fff;
  color: #cc0000ff;
}

/*********** MAIN HEADING ************/

.flex-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-items: center; 

  /* Design properties */
  background-color: #cc0000dc;
  padding: 5px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), 6px 6px 10px 0px rgba(0, 0, 0, 0.15);


  /* Positioning properties */
  position: absolute;
  left: 20%;
  right: 20%;
  top: 30%; /* Change this value to move the box up or down */
  
  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the heading (the left box) */
.heading-home {
  padding: 2%;
  color: #fff;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 60px;
  text-align: center;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the intro text (the right box) */
.intro-text {
  background-color: #fff; /* Add your own background color */
  padding: 4%;
  margin: 3%;
  color: #cc0000ff; /* Add the color of your font */
  font-size: 20px; /* Add your font size*/
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.text-section {
  background-color: #ffffffab;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.main-message,
.image-one, .image-two, .image-three {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cc0000ff;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  /* TODO: Add the property to create the parallax scrolling effect here */
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own. This is the top image on your homepage. */
.main-message {
  background-image: url("https://cdn.glitch.com/22e5b1ff-d377-4a78-89a9-d25d41b0c854%2F150803-votingrights-editorial-1.jpg?v=1595949290158");
}

/* TODO: Replace the current image URL with your own */
.image-one {
  background-image: url("https://cdn.glitch.com/22e5b1ff-d377-4a78-89a9-d25d41b0c854%2Fewscripps.brightspotcdn.jpg?v=1595949305978");
}

/* TODO: Add a second background image. Make sure you add this class selector to the collective image rule set above */
.image-two {
  background-image: url("https://cdn.glitch.com/22e5b1ff-d377-4a78-89a9-d25d41b0c854%2FMarchers_with_signs_at_the_March_on_Washington%2C_1963.jpg?v=1595949315754");
}

.image-three {
  background-image: url("https://cdn.glitch.com/22e5b1ff-d377-4a78-89a9-d25d41b0c854%2Fvoter-id-fb.png?v=1596063387008");
}

/* TODO: Add more background images by repeating the process above */

/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* TODO: Add a breakpoint if the screen is 700px or less */
@media screen and (max-width: 700px) {
  .flex-container {
    flex-wrap: wrap;
    top: 20%;
  }
  
  .heading-home {
    font-size: 35px;
  }
  
}


/* TODO: Add additional breakpoints based on your website's design
