/* 
contains rules for:
    - index.html
    - any universal elements that all pages use

(CSS for the take-action.html is in take-action.css)
*/

/************* UNIVERSAL ELEMENTS ***************/
body,
html {
  height: 100%;
  font-size: 20px; 
  font-family: "Roboto", sans-serif; /* Change the font */
  line-height: 1.5em; 
  margin: 0em;
  color: #cc0000ff; 
  background-color: #fff; 
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*TODO: change font*/
  font-family: "Roboto Mono", sans-serif;
  color: #cc0000ff;
  text-align: center;
}

/*TODO: change font*/
h2 {
  letter-spacing: 2px;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif;
  color: #cc0000ff;
  text-align: center;
  line-height: 1.3em;
}

a:hover {
  color: #001e96;
  text-decoration: none;
}

/*************** NAV BAR ****************/

/*style of nav bar*/
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc0000f2;
  border-style: none none solid none;
  border-color: #001e96;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

li.nav {
  float: right;
  font-size: 15px;
}

/*style of elements in nav bar*/
li.nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
}

li.nav a:hover {
  background-color: #fff;
  color: #cc0000ff;
}

/*********** MAIN HEADING ************/

.flex-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center; 
  align-items: center; 

  /* Design properties */
  background-color: #cc0000dc;
  padding: 5px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), 6px 6px 10px 0px rgba(0, 0, 0, 0.15);


  /* Positioning properties */
  position: absolute;
  left: 20%;
  right: 20%;
  top: 30%; /* Change this value to move the box up or down */
  
  /*border-style: dotted;*/
}

/* main heading text */
.heading-home {
  padding: 2%;
  color: #fff;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 60px;
  text-align: center;

  /*border-style: dotted;*/
}

/* intro message text */
.intro-text {
  background-color: #fff; /* Add your own background color */
  padding: 4%;
  margin: 3%;
  color: #cc0000ff; 
  font-size: 20px; 
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;

  /*border-style: dotted;*/
}

/*************** PARALLAX ****************/

/*-----------text sections-----------*/
.text-section {
  background-color: #ffffffab;
  padding: 20px 45px;
  margin: 10px;
  text-align: left;
  letter-spacing: 1px;
  text-indent: 50px;
}

/*---------images and parallax---------*/
.main-message,
.image-one, .image-two, .image-three {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cc0000ff;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  background-attachment: fixed;
}

/* picture behind heading - recent protest */
.main-message {
  background-image: url("https://cdn.glitch.com/22e5b1ff-d377-4a78-89a9-d25d41b0c854%2F150803-votingrights-editorial-1.jpg?v=1595949290158");
}

/* 1st picture - polls */
.image-one {
  background-image: url("https://cdn.glitch.com/22e5b1ff-d377-4a78-89a9-d25d41b0c854%2Fewscripps.brightspotcdn.jpg?v=1595949305978");
}

/* 2nd picture - 1960s protest */
.image-two {
  background-image: url("https://cdn.glitch.com/22e5b1ff-d377-4a78-89a9-d25d41b0c854%2FMarchers_with_signs_at_the_March_on_Washington%2C_1963.jpg?v=1595949315754");
}

/* 3rd picture - photo ID required */
.image-three {
  background-image: url("https://cdn.glitch.com/22e5b1ff-d377-4a78-89a9-d25d41b0c854%2Fvoter-id-fb.png?v=1596063387008");
}

/*----------- image attributions -----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/* styling for resources page */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: absolute;
  margin-top: 150px;
  padding: 10px;
}

#header-resources {
  color: #fff;
}

.organizations, .articles {
  max-width: 47%;
  border-style: solid;
  border-radius: 15px;
  border-color: #cc0000;
  padding: 10px;
  background-color: #cc000011;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
}

/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
@media screen and (max-width: 700px) {
  .flex-container {
    flex-wrap: wrap;
    top: 20%;
  }
  
  .heading-home {
    font-size: 35px;
  }
  
}

/* TODO: add breakpoints based on website design
